h1 {
	text-align: center;
	margin-top: 50px;
}

table {
	margin: auto;
	border-collapse: collapse;
}

th, td {
	padding: 10px;
	border: 1px solid black;
}

thead {
	background-color: #ccc;
}

form {
	margin: 50px auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}

label {
	margin-top: 20px;
}

input, button {
	padding: 10px;
	margin-top: 10px;
	font-size: 16px;
}

#submit-btn {
	background-color: #4CAF50;
	color: white;
	border: none;
	cursor: pointer;
}

#submit-btn:hover {
	background-color: #3e8e41;
}