body {
  background-image: url(../../pic/background3.png);
}

h1 {
  text-align: center;
  color: white;
 }
 
 #game-board {
   display: flex;
   align-items: center;
   flex-direction: column;
   color: white;
 }
 
instructg {
  color: rgb(2, 187, 2);
}
instructy {
  color: rgb(245, 245, 24);
}
instructgr {
  color: rgb(202, 200, 200);
}

 .letter-box {
   border: 2px solid aliceblue;
   border-radius: 3px;
   margin: 2px;
   font-size: 2.5rem;
   font-weight: 700;
   height: 3rem;
   width: 3rem;
   display: flex;
   justify-content: center;
   align-items: center;
   text-transform: uppercase;
 }

.button1 {background-color: #e27979;}
.button2 {background-color:rgba(0, 253, 76, 0.904)}
 
 .filled-box {
   border: 2px solid rgb(246, 246, 246);
 }
 center {
  color: aliceblue;
 }
 .letter-row {
   display: flex;
   color: lightblue;
 }
 instructg {
  color: rgb(2, 187, 2);
}
instructy {
  color: #FF6600;
}
instructgr {
  color: rgb(202, 200, 200);
}
 
 #keyboard-cont {
   margin: 1rem 0;
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 p1 {
  color: aliceblue;
  font-size: 12.5px;
 }
 #keyboard-cont div {
   display: flex;
 }
 
 .second-row {
   margin: 0.5rem 0;
 }
 p {
  color:aliceblue;
  font-size: 17px;
 }
 .keyboard-button {
   font-size: 1rem;
   font-weight: 700;
   padding: 0.5rem;
   margin: 0 2px;
   cursor: pointer;
   text-transform: uppercase;
 }
 body { 
  background-repeat: no-repeat;
  background-size: cover;
 }
 h6 {
  color: aqua;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;
 }
 .easybutton {
  background-color: aqua;
  border-radius: 8px;
 }
.mediumbutton {
  background-color: turquoise;
  border-radius: 8px;
}
.hardbutton {
  background-color: teal;
  border-radius: 8px;
}
creds {
  border: 5px solid teal;
  padding: .75%;
  border-radius: 10px;
  width: 20%;
  position: absolute; left: 1.5%;
  top: 1.5%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: #07dbdbce;
}
p2 {
  color: teal;
}
diff {
  animation-play-state: running;
  animation: blink 1000s iteration-count direction cubic-bezier(0.215, 0.610, 0.355, 1);
}