body {
  background-image: url(../../pic/background3.png);
}

h1 {
  text-align: center;
  color: white;
}

#game-board {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: lightblue;
}

instructg {
  color: rgb(2, 187, 2);
}

instructy {
  color: rgb(245, 245, 24);
}

instructgr {
  color: rgb(202, 200, 200);
}

.letter-box {
  border: 2px solid rgba(240, 248, 255, 0.753);
  border-radius: 3px;
  margin: 2px;
  font-size: 2.5rem;
  font-weight: 700;
  height: 3rem;
  width: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.button1 {
  background-color: #e27979;
}

.button2 {
  background-color: rgb(0, 253, 76)
}

.filled-box {
  border: 2px solid rgba(128, 128, 128, 0.808);
}

center {
  color: aliceblue;
}

.letter-row {
  display: flex;
  color: lightblue;
}

instructg {
  color: rgb(2, 187, 2);
}

instructy {
  color: #FF6600;
}

instructgr {
  color: rgb(202, 200, 200);
}

#keyboard-cont {
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

p1 {
  color: aliceblue;
  font-size: 12.5px;
}

#keyboard-cont div {
  display: flex;
}

.second-row {
  margin: 0.5rem 0;
}

p {
  color: aliceblue;
  font-size: 17px;
}

.keyboard-button {
  font-size: 1rem;
  font-weight: 700;
  padding: .475rem;
  margin: 1.5px;
  cursor: pointer;
  text-transform: uppercase;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

h6 {
  color: aqua;
  font-size: 21px;
  font-family: Arial, Helvetica, sans-serif;
}

.easybutton {
  background-color: aqua;
  border-radius: 8px;
  width: 17%;
  height: 53px;
  font-size: 150%;
  border-color: rgb(174, 211, 243);
}

.mediumbutton {
  background-color: turquoise;
  border-radius: 8px;
  width: 17%;
  height: 53px;
  font-size: 130%;
  border-color: rgb(174, 211, 243);
}

.hardbutton {
  background-color: rgb(2, 175, 175);
  border-radius: 8px;
  width: 17%;
  height: 53px;
  font-size: 150%;
  border-color: rgb(174, 211, 243);
}

p2 {
  color: teal;
}

.fblalogo {
  position: absolute;
  right: -5%;
  bottom: 0%;
  scale: 40%;
}

.topbar {
  margin: 0;
  color: lightblue;
  background-color: #FF6600;
}

.howto {
  position: absolute;
  border: 3px solid #23466d;
  border-radius: 20px;
  padding: 1px;
  height: auto;
  max-width: 30%;
  top: 5px;
  top: 1.5%;
  background-color: rgba(211, 211, 211, 0.493);
}

creds {
  border: 5px solid teal;
  padding: .75%;
  border-radius: 10px;
  height: 50%;
  position: absolute;
  right: 3%;
  top: 5%;
  max-width: 30%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: rgba(211, 211, 211, 0.493);
}
select {
  text-align: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}
th, td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}
th {
  background-color: rgb(4, 111, 111);;
}
table {
  color: rgb(213, 182, 3);
  font-weight: bold;
}
td {
  background-color: rgb(59, 137, 137);
}
form {
  color: lightsalmon;
}
#score, #name {
  background-color: #fffcf2;
}
a {
  color: white;
  text-decoration: none;
}
points {
  border: 5px solid teal;
  padding: .75%;
  border-radius: 10px;
  height: 25%;
  position: absolute;
  left: 3%;
  bottom: 5%;
  max-width: 30%;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;
  background-color: rgba(211, 211, 211, 0.493);
}